.card {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    height: 500px;
}
.ul-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}